#meio{
    background-color: rgb(19, 19, 19);
    height: 20vh;
    width: 100%;
    color: white;
    padding: 4vh 1vw 1vh 4vw;
    border-bottom: 1px solid rgba(128, 128, 128, 0.655);
}
#meio h3{
    color:  rgb(208, 0, 0);
    background-color: rgba(237, 35, 35, 0.247);
    width:fit-content;
}
#meio h1{
    font-size: 3rem;
}
.mei{
    background-color: rgb(9, 9, 9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
}

#cadastro {
    background-color: #ffffff;
    padding: 3vh 2vw;
    border-radius: 1vh;
    box-shadow: 0 0 2vh rgba(0, 0, 0, 0.2);
    width: 56vw;
    display: flex;
    flex-direction: row;
}

#cadastro input {
    width: 25vw;
    padding: 1vh 1vw;
    margin: 1vh 0;
    border: 0.1vh solid #963d3d;
    border-radius: 1vh;
}

#cadastro button {
    width: 10vw;
    padding: 2vh 1vw;
    background-color: rgb(172, 2, 2);
    color: white;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
    font-size: 2vh;
}

#cadastro button:hover {
    background-color: rgb(208, 0, 0);
}
#cadastro .btn {
    width: 10vw;
    padding: 2vh 1vw;
    background-color: rgb(172, 2, 2);
    color: white;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
    font-size: 2vh;
}

#cadastro .btn:hover {
    background-color: rgb(208, 0, 0);
    font-size: 2.5vh;
}

#cadastro label {
    color: rgb(0, 0, 0);
    font-size: 2.5vh;
}
form{
    display: flex;
    flex-direction: row;
    padding: 1vh 0vw 1vh 0vw;
    gap: 2vw;
}

