
#VVT {
    margin-top: 10vh;
    margin-left: 3vw;
    display: flex;
    flex-direction:row;
}
#total{
    margin-left: 62vw;

}


#cinza{
   color: rgb(150, 150, 150);
}
#verde{
    color: green;
    font-size: 2rem;
    font-family: Barlow-Bold;
}



